<template name="about">
  <div class="page about">
    {{> nav title='Food Safety' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <!--<h1 class="title-about">
          <img src="img/app/title-about.svg" alt="Go Local"/>
        </h1>-->
      </div>
        <!--</div>
    <a href="http://www.uh.edu/honors/Programs-Minors/honors-minors-programs/dash/" class="btn-primary js-open" target="_blank">More about us</a>
<div class="description-about">
        <p>Be a local wherever you go. Connect to Local Market’s community to get the latest news, hand-picked recipes, and share with other locals. This season's recipes were chosen by San Francisco chefs Colin Kull of <a href="http://www.rangesf.com/" target="_blank" class="js-open">Range</a>, Laurie Ellen Pellicano of <a href="http://www.tartinebakery.com/" target="_blank" class="js-open">Tartine Bakery</a>, and Ren Rossini of <a href="http://www.fattedcalf.com/"  target="_blank" class="js-open">Fatted Calf</a>.</p>

        <p>Local Market was made by <a href="http://percolatestudio.com" target="_blank" class="js-open">Percolate Studio</a> as an example of a cross platform mobile app built in <a href="https://www.meteor.com" target="_blank" class="js-open">Meteor</a>. The entire app is less than 1,000 lines of JavaScript. View the source on <a href="https://github.com/meteor/meteor/tree/devel/examples/localmarket" target="_blank" class="js-open">GitHub</a>.</p>
      </div>-->
<div class="description-welcome">
        <h2 class="list-title">Tips for Fresh Produce Safety</h2>
    <br>
        <h3>Buying Tips</h3> <br>
        <p class="description-welcome"> <ul style="list-style-type:circle">
        <li>Purchase produce that is not bruised or damaged.</li>
        <li>When selecting fresh-cut produce - such as a half a watermelon or bagged salad greens - choose items that are refrigerated or surrounded by ice.</li>
        <li>Bag fresh fruits and vegetables separately from meat, poultry and seafood products.</li>
        </ul>
        </p><br>

        <h3>Storage Tips</h3><br>
        <p clas="description-welcome">
    <ul style="list-style-type:circle">
        <li>Store perishable fresh fruits and vegetables (like strawberries, lettuce, herbs, and mushrooms) in a clean refrigerator at a temperature of 40° F or below.  </li>
    <li>Refrigerate all produce that is purchased pre-cut or peeled.</li><br>
        </ul>
</p><br>
        <h3>Preparation Tips</h3><br>

        <p class="description-welcome">
    <ul style="list-style-type:circle">
    <li>Begin with clean hands. Wash your hands for 20 seconds with warm water and soap before and after preparing fresh produce.</li>
        <li>Cut away any damaged or bruised areas on fresh fruits and vegetables. Produce that looks rotten should be discarded.</li>
        <li>All produce should be thoroughly washed before eating. Wash fruits and vegetables under running water just before eating, cutting or cooking.</li>
        <li>Many precut, bagged produce items like lettuce are pre-washed. If the package indicates that the contents have been pre-washed, you can use the produce without further washing.</li>
        <li>Even if you plan to peel the produce before eating, it is still important to wash it first.</li>
        <li>Washing fruits and vegetables with soap or detergent or using commercial produce washes is not recommended.</li>
        <li>Scrub firm produce, such as melons and cucumbers, with a clean produce brush.</li>
        <li>Drying produce with a clean cloth towel or paper towel may further reduce bacteria that may be present.</li>
    </ul>
        </p>
        </div>
    </div>
    

  </div>
</template>