<template name="about">
    <div class="page about">
        {{> nav title='About' black=true}}

    <div class="content-scrollable">
    <img src="/img/app/DASHlogo.png" width="370">
    <div class="description-about">
        Be a Houstonian.<br>
        Houston Farmer's Market was made by <a href="http://housuggest.org/DASH/" target="_blank" class="js-open">The Honors College</a> at the University of Houston based on <a href="https://www.meteor.com" target="_blank" class="js-open">Meteor</a> platform.
    </div>
    </div>   
    <a href="http://housuggest.org/DASH/#" class="btn-primary js-open" target="_blank">Learn More about DASH</a>
    </div>
</template>