<template name="about">
  <div class="page about">
    {{> nav title='Food Safety' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <!--<h1 class="title-about">
          <img src="img/app/title-about.svg" alt="Go Local"/>
        </h1>-->
      </div>
        <h2 class="list-title">Tips for Fresh Produce Safety</h2><br>
    
        <h3>Buying Tips</h3> 
        <p class="title"> 
    
    
        Purchase produce that is not bruised or damaged.<br>
        When selecting fresh-cut produce - such as a half a watermelon or bagged salad greens - choose items that are refrigerated or surrounded by ice.<br>
        Bag fresh fruits and vegetables separately from meat, poultry and seafood products.<br>
        </p>
        
<br>
        <h3>Storage Tips</h3>
        <p clas="source">
    <ul style="list-style-type:circle">
        <li>Store perishable fresh fruits and vegetables (like strawberries, lettuce, herbs, and mushrooms) in a clean refrigerator at a temperature of 40° F or below.  </li>
    <li>Refrigerate all produce that is purchased pre-cut or peeled.</li><br>
        </ul>
</p>
        <h3>Preparation Tips</h3>

        <p class="description-welcome">
    <ul style="list-style-type:circle">
    <li>Begin with clean hands. Wash your hands for 20 seconds with warm water and soap before and after preparing fresh produce.</li>
        <li>Cut away any damaged or bruised areas on fresh fruits and vegetables. Produce that looks rotten should be discarded.</li>
        <li>All produce should be thoroughly washed before eating. Wash fruits and vegetables under running water just before eating, cutting or cooking.</li>
        <li>Many precut, bagged produce items like lettuce are pre-washed. If the package indicates that the contents have been pre-washed, you can use the produce without further washing.</li>
        <li>Even if you plan to peel the produce before eating, it is still important to wash it first.</li>
        <li>Washing fruits and vegetables with soap or detergent or using commercial produce washes is not recommended.</li>
        <li>Scrub firm produce, such as melons and cucumbers, with a clean produce brush.</li>
        <li>Drying produce with a clean cloth towel or paper towel may further reduce bacteria that may be present.</li>
    </ul>
        </p>
<!--        </div>-->
    </div>
    

  </div>
</template>