<template name="activity">
  <a href="{{path}}" class="item-activity">

<div class="bg-image" style="background-image: url('http://3.bp.blogspot.com/_17JxSC-F9uA/TLPNx78rSfI/AAAAAAAAAU0/q4Wc3WWr-pA/s1600/02712_Houston_201007.jpg');"></div>
    <span class="attribution">
      
      <span class="meta">
        <span class="title">Canino's Produce</span><br> 
	<span class="time">Open daily from 6am-8pm</span><br> 
        <span class="address">2520 Airline Dr, Houston, TX 77009</span><br>
	<span>Give them a call at </span><span class = "phone">(713) 862-4027</span> 
	<br><br><br>
       </span>
    </span>

<div class="bg-image" style="background-image: url('http://cdn.c.photoshelter.com/img-get2/I0000nWnKhUiWRnE/fit=1000x750/FOFM1006.jpg');"></div>
    <span class="attribution">
      
      <span class="meta">
        <span class="title">Urban Harvest</span><br>
	<span class="time">Open M-F from 9am-5pm</span><br> 
        <span class="address">2311 Canal St, Houston, TX 77003</span><br>
	<span>Give them a call at </span><span class = "phone">(713) 880-5540</span> 
	<br><br><br> 
       </span>
    </span>
    

<div class="bg-image" style="background-image: url('http://cdn.womensunitedonline.com/cityguide/cityguide/l/houston_market.jpg');"></div>
    <span class="attribution">
      
      <span class="meta">
        <span class="title">Rice University Farmer's Market</span><br>
	<span class="time">Open Tuesday from 3:30pm-6:30pm</span><br> 
        <span class="address">Stadium Rd, Houston, TX 77005</span><br>
	<br><br><br>
       </span>
    </span>
  </a>
</template>