<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCVhkUITt_95BifrvYP8sV4xQVtSymUvSk
    &q=University of Houston">

</iframe>




<p>
This is the main farmers market app page.
Please click on one of the following buttons to go somewhere.
</p>


<div>
	

	<a href="#/farmersDirectory">
		<img id="directory"  width="150" height="50" ng-src="img/directoryButton.png">
	</a>
	
	<a href="#/farmersFavorites">
		<img id="favorites"  width="150" height="50" ng-src="img/favoritesButton.png">
	</a>
	
	<a href="#/farmersMore">
		<img id="more"  width="150" height="50" ng-src="img/moreButton.png">
	</a>
	
</div>
