<!--
<div ui-view>
    <div id = "home_markets">
            <a ui-sref="state2.markets">
                <img class = "home_icons" ng-src="img/logomarkets.png">
            </a>
    </div> 
    <div id = "home_inseason" class = "home_icons">   
        <a ui-sref="state2.inSeason">
            <img class = "home_icons"  ng-src="img/logoinseason.png">
        </a>
    </div>
    <div id = "home_profile" class = "home_icons">
        <a ui-sref="state2.profile">
            <img class = "home_icons" ng-src="img/logosocial.png">
        </a>
    </div>
    <div id = "home_events" class = "home_icons">
        <a ui-sref="state2.events">
            <img class = "home_icons" ng-src="img/logoevents.png">
        </a>
    </div>
</div>
    
-->


<div ui-view>
    <div class = "tl">
            <a ui-sref="state2.markets">
                <img class = "tl" ng-src="img/logomarkets.png">
            </a>
    </div> 
    <div  class = "tr">   
        <a ui-sref="state2.inSeason">
            <img  class = "tr" ng-src="img/logoinseason.png">
        </a>
    </div>
    <div class = "bl">
        <a ui-sref="state2.profile">
            <img class = "bl" ng-src="img/logosocial.png">
        </a>
    </div>
    <div  class = "br">
        <a ui-sref="state2.events">
            <img class = "br"ng-src="img/logoevents.png">
        </a>
    </div>
</div>