<div id="profile_background">



<img src = "img/profilePicture.png" id = "profile_picture"/>


<a ui-sref = "state2.profile.badges" id = "first_two_profile_icons"><span class = "icons">badges</span></a>
<a ui-sref = "state2.profile.favorites" id = "first_two_profile_icons"><span class = "icons">favorites</span></a>
<a ui-sref = "state2.profile.friends" id = "second_two_profile_icons"><span class = "icons">friends</span><a>
<a ui-sref = "state2.profile.photos" id = "second_two_profile_icons"><span class = "icons">photos</span></a>



<div ui-view = "profileBody" class = "profile_body">
    this is a random fun fact
</div>

    </div>
    