/* app css stylesheet */

h3 {
    color: rgb(245,243,229);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}


#wrapper {
    width : 99%;
    height: 99%;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    width : 100%;
    height: 100%;
}
#b_menu{
    position:fixed;
    float: left;
    top:91%;
    width:95%;
    z-index: 30;
    margin: auto;
    text-align: center;
    
    }

.first_two_bottom_bts{
    width:20%;
    height: 30px;
    padding-top: 25px;
    padding-left: 2px;
    border-radius: 0px 20px 0px;
    display: inline-block;
    background: #BADA55;
    text-align: center;
    background: #BADA55;
    border: solid 1px #888888;
    
}

.last_two_bottom_bts{
    width:20%;
    height: 30px;
    padding-top: 25px;
    padding-left: 2px;
    border-radius: 20px 0px 20px 0px;
    display: inline-block;
    background: #BADA55;
    border: solid 1px #888888;
    color: rgb(245,243,229);
    font-weight: 700;
    font-size: 20px;
}

#icons{
    margin-bottom: 100px;
    
}


#menuBar{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: green;
    height:9%;
    width:100%;
}

/*4 panels, home page*/
#content{
    width: 100%;
    z-index: -5;
    position: relative;
    left: 0%;
    right: 0%;
}
/* mess around for the weekend */
.home_icons{
    width:100%;
    display: block;
    text-align: center;
    margin: auto;
}

.tl { width:50%; position: absolute; top: 0; left: 0; right: 50%; bottom: 50%;}
.tr { width:50%; position: absolute; top: 0; left: 50%; right: 0; bottom: 50%;}
.bl { width:50%; position: absolute; top: 50%; left: 0; right: 50%; bottom: 0;}
.br { width:50%; position: absolute; top: 50%; left: 50%; right: 0; bottom: 0;} 

/*
.content_class{
    
    position: initial;
    
    
}*/

#main_menu{
    clear: both;
    position: initial;
    top:0px;
    left:0px;
    width: 100%;
    padding-top: -75px;
    margin-top: -75px;
    text-decoration: none;
}

.main_class { 
    clear: both;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;         
    text-decoration: none;
    
}


#example-four { 
    border-radius: 0px 50px 0px;
    background: #BADA55;
    height: 300px;
    width:100%;
    
}

#example-five {
    position :fixed;
    border-radius: 0px 80px 0px;
    width: 90%;
    overflow-y: scroll;
    height: 80%;
    top: 10%;
    left: 6%;
    margin: auto;
    background: #BADA55;
    font-size: 140%;
}



#home_markets{
    background-color: rgb(148,201,214);
    width:50%;
    height:120%;
    float: left;
    top: -65px;
    padding-top: 11.75%;
    padding-bottom: 11.75%;
}

#home_profile {
    background-color: rgb(237,216,126);
    width:50%;
    height:100%;
    float: right;
    padding-top: 11.75%;
    padding-bottom: 11.75%;
}

#home_events {
    background-color: rgb(103,75,127);
    width:50%;
    height:100%;
    float: left;
    padding-bottom: 11.75%;
    padding-top: 11.75%;
}

#home_inseason{
    background-color: rgb(226,136,75);
    width:50%;
    height:100%;
    float: right;
        padding-top: 11.75%;
    padding-bottom: 11.75%;
}


.profile_body {
    border-radius: 0px 50px 0px;
    background: #BADA55;
    height: 50%;
    width: 85%;  
    margin: auto;
    margin-top: 5%;
}

#profile_picture{
    width:13%;
    height: 13%;
    border-radius: 0px 20px 0px;
    display: inline-block;
    text-align: center;
    border: solid 1px #888888;
    position: absolute;
    float: left;    
    margin-left: 20%;
    margin-top: 7%;
    /*188,201,63*/
}

#first_two_profile_icons{
    width:20%;
    height: 30px;
    padding-top: 25px;
    border-radius: 0px 20px 0px;
    display: inline-block;
    background: #BADA55;
    border: solid 1px #888888;
    text-align: center;
    margin-top: 30%;
}

#second_two_profile_icons{
    width:20%;
    height: 30px;
    padding-top: 25px;
    border-radius: 20px 0px 20px 0px;
    display: inline-block;
    background: #BADA55;
    border: solid 1px #888888;
    text-align: center;
    margin: auto;
}

#profile_background{
 background-color: rgb(237,216,126);   
    width: 100%;
    height: 100%;
    position:fixed;
    margin: auto;
    text-align: center;
}
